{% extends 'decks/base.html' %}
{% load range %}
{% load static %}

{% block title %}Create deck{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1>Create deck</h1>
        </div>

        {# TODO: Integration with Django forms #}

        <br>
        <form method="post" id="deckform">
            {% csrf_token %}
            {{ form.errors }}
            <input type="hidden" name="card_json" id="card_json" value="{{ form.card_json.value|default_if_none:"" }}" />

            <div class="row">
                <div class="form-group col-12">
                    <label for="name">Deck name</label>
                    <input type="text" maxlength="100" class="form-control" id="name" name="name" placeholder="Deck name">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card border-dark">
                        <div class="card-header">
                            Black cards
                        </div>
                        <div class="card-body" id="blackcards">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card border-secondary">
                        <div class="card-header">
                            White cards
                        </div>
                        <div class="card-body" id="whitecards">
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <div class="row">
                <button class="btn btn-primary" type="submit">Create deck</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        function getTextArea(id, value = "") {
            return "<div class='form-group'><textarea class='form-control' id='" + id + "' rows='2'>" + value + "</textarea></div>";
        }


        let alreadyAddedBlackCards = []
        let currentHighestBlackCard = 1;

        function addBlackcard(number) {
            $('#blackcards').append(getTextArea('blackcard' + number));
            $('#blackcard' + number).on('input', function(e) {
                if(currentHighestBlackCard < number) currentHighestBlackCard = number;

                if(!alreadyAddedBlackCards.includes(number)) {
                    addBlackcard(number + 1);
                    alreadyAddedBlackCards.push(number);
                }
            })
        }


        let alreadyAddedWhiteCards = []
        let currentHighestWhiteCard = 1;
        function addWhitecard(number) {
            $('#whitecards').append(getTextArea('whitecard' + number));
            $('#whitecard' + number).on('input', function(e) {
                if(currentHighestWhiteCard < number) currentHighestWhiteCard = number;

                if(!alreadyAddedWhiteCards.includes(number)) {
                    addWhitecard(number + 1);
                    alreadyAddedWhiteCards.push(number);
                }
            })
        }


        $('#deckform').submit(function() {
            black_cards = []
            for(let i = 1; i <= currentHighestBlackCard; i++) {
                black_cards.push($('#blackcard' + i).val())
            }

            white_cards = []
            for(let i = 1; i <= currentHighestWhiteCard; i++) {
                white_cards.push($('#whitecard' + i).val())
            }

            // TODO: Validation

            $('#card_json').val(JSON.stringify({
                'black_cards': black_cards,
                'white_cards': white_cards
            }))

            return true;
        });


        $(document).ready(function() {
            let card_json_val = $('#card_json').val();
            if(card_json_val !== "") {
                parsed_json_val = JSON.parse(card_json_val);

                let blackCardCount = 0;
                parsed_json_val["black_cards"].forEach(function(item, index, array) {
                    if(item.trim() === "") return;
                    blackCardCount++;
                    $('#blackcards').append(getTextArea('blackcard' + blackCardCount, item));
                });
                addBlackcard(blackCardCount + 1);
            } else {
                addBlackcard(1);
                addWhitecard(1);
            }
        });
    </script>
{% endblock %}